body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #c9000a;
}

/*Title*/
.titleBar{
    display:flex;
    width: 100%;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.etch{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.magic{
    padding-right: 50px;
}

.screen{
    padding-left: 50px;
}

/*Buttons*/
.buttons{
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.sizeBtn{
    margin-left: auto;
    margin-right: 550px;
    transition: all 0.2s ease;
    border-radius: 70%;
    width: 120px;
    height: 120px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
}

.resetBtn{
    margin-left: 550px;
    transition: all 0.2s ease;
    border-radius: 70%;
    width: 120px;
    height: 120px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
}

.buttons active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

/* Actual screen */

.pixelScreen {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px 50px;
}

.pixel {
    width: 10px;
    height: 10px;
    background-color: #acaca4;
}

.hover {
    background-color: black;
}

.topLeftPixel {
    border-top-left-radius: 25px;
}

.topRightPixel{
    border-top-right-radius: 25px;
}

.botLeftPixel{
    border-bottom-left-radius: 25px;
}

.botRightPixel{
    border-bottom-right-radius: 25px;
}