body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #c9000a;
}

/*Title*/
.titleBar{
    display:flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.etch{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.magic{
    padding-right: 50px;
}

.screen{
    padding-left: 50px;
}

/*Buttons*/
.buttons{
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.sizebtn{
    margin-left: 50px;
}

.resetbtn{
    
}

/* Actual screen */

.pixelScreen {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px 50px;
}

.pixel {
    width: 50px;
    height: 50px;
    background-color: #acaca4;
}

.hover {
    background-color: black;
}

.topLeftPixel {
    border-top-left-radius: 25px;
}

.topRightPixel{
    border-top-right-radius: 25px;
}

.botLeftPixel{
    border-bottom-left-radius: 25px;
}

.botRightPixel{
    border-bottom-right-radius: 25px;
}